<div class='havent_quest' *ngIf="this.loadingFlag; else postData">
    <div class="container">
      <div class="dash uno"></div>
      <div class="dash dos"></div>
      <div class="dash tres"></div>
      <div class="dash cuatro"></div>
    </div>
</div>
<ng-template #postData>
  <div class="wrapper-toolbar">
    <mat-toolbar-row class="mat-tool">
      <button (click)="filter()" mat-stroked-button color="primary">Filters</button>
      <button (click)="sort()" mat-stroked-button color="primary">Sort <mat-icon class="arrow">{{this.arrowUpAndDown}}</mat-icon></button>
      <button  mat-stroked-button color="primary">Settings</button>
    </mat-toolbar-row>
  </div>
  <mat-grid-list cols="3" rowHeight="180px" >
    <div class="wrapper-empty">
      <p *ngIf="!posts.length" class="emptyPostsArray" > The list of questions is empty</p>
    </div>
    <mat-grid-tile *ngFor="let post of posts | sortingPipe: this.isDes">
      <mat-card (click)="getId(post)" class="card">
        <div class="done" *ngFor="let answer of post.answers">
          <div *ngIf="answer.correct; else notCorrect">
            <mat-icon>done</mat-icon>
          </div>
          <ng-template #notCorrect></ng-template>
        </div>
        <mat-card-header>
          <mat-card-title>{{post.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{post.date | date:'short'}}
          </p>
          <div class="directions" >
            <p class="directions-items" *ngFor="let dir of post.direct">{{dir}}</p>
          </div>
        </mat-card-content>
        <mat-card-actions class="mat-card-btn" *ngIf="author === post.author; else userButton">
          <div>
            <button mat-button  class="btn-card" (click)="edit(post, $event)" >EDIT</button>
            <button mat-button class="btn-card" (click)="remove(post.id, $event)" >DELETE</button>
          </div>
          <mat-icon>grade</mat-icon>
        </mat-card-actions>
        <ng-template #userButton>
          <mat-card-actions>
            <mat-icon>crop_free</mat-icon>
          </mat-card-actions>
        </ng-template>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="circleAddQuestButton"></div>
</ng-template>
<button class="circleButtonAsk"
        color="accent"
        mat-raised-button
        routerLink="/ask"><mat-icon>add</mat-icon></button>


