@import "src/styles" ;

p {
  margin: 0px;
}
body {

}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.hello {
  padding: 0px;
  margin: 0px;
  font-size: 25px;
  color: @mainColor;
}
.mat-grid-cont {
  width: 100%;
  height: 100%;
}
.card {
  position: relative;
  width: 100%;
  height: 100%;
  margin-right: 2px;
  padding: 2px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button_emet {
    width: 161px;

}
.card_liner {
  flex-direction: row;
  justify-content: space-around;
}

.done {
  position: absolute;
  top: 7%;
  left: 5%;
  div mat-icon {
    color: green;
  }
}

.mat-select-red .mat-select-value{
  color: red ;
}

.btn-card {
  margin-bottom: 10px;
  margin-right: 10px;
  outline: none;
}
.directions {
  width: 100%;
  min-width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5px;
  .directions-items {
    margin-right: 5px;
  }
}
.mat-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.liner {
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  p {
    align-self: center;
  }
}

mat-icon {
  color: @mainColor;
}

.mat-card-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
mat-grid-tile {
  :hover {
    transition: 0.4s ease-in-out;
    background-color: #212121;
  }
}

.havent_quest {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.wrapper-empty {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.emptyPostsArray{
  color: @mainColor;
  font-size: 16px;
  font-weight: bold;
  margin: 0 auto;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;

}

.dash {
  margin: 0 15px;
  width: 35px;
  height: 15px;
  border-radius: 8px;
  background: #FF2CBD;
  box-shadow: 0 0 10px 0 #FECDFF;
}

.uno {
  margin-right: -18px;
  transform-origin: center left;
  animation: spin 3s linear infinite;
}

.dos {
  transform-origin: center right;
  animation: spin2 3s linear infinite;
  animation-delay: .2s;
}

.tres {
  transform-origin: center right;
  animation: spin3 3s linear infinite;
  animation-delay: .3s;
}

.cuatro {
  transform-origin: center right;
  animation: spin4 3s linear infinite;
  animation-delay: .4s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(360deg);
  }
  30% {
    transform: rotate(370deg);
  }
  35% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-180deg);
  }
  35% {
    transform: rotate(-190deg);
  }
  40% {
    transform: rotate(-180deg);
  }
  78% {
    transform: rotate(-180deg);
  }
  95% {
    transform: rotate(-360deg);
  }
  98% {
    transform: rotate(-370deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes spin3 {
  0% {
    transform: rotate(0deg);
  }
  27% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(180deg);
  }
  45% {
    transform: rotate(190deg);
  }
  50% {
    transform: rotate(180deg);
  }
  62% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  80% {
    transform: rotate(370deg);
  }
  85% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin4 {
  0% {
    transform: rotate(0deg);
  }
  38% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-360deg);
  }
  65% {
    transform: rotate(-370deg);
  }
  75% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.arrow {
  font-size: 20px;
}


.wrapper-toolbar {
  padding: 5px 0 5px 0;
  height: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circleButtonAsk {
  position: fixed;
  bottom: 37px;
  right: 30px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  outline: none;
}


.mat-tool {
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  background-color: #424242;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.mat-tool-second {
  height: 65px;
}
.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}
button {
  outline: none;
}

.select_field {
  min-width: 100px;
  width: 15%;
}
.color {
  color: #FF4500;
}
.select_field_radio {
  padding: 0;
  background-color: transparent;
}
.mat-accent {
  min-width:64px;
  border: 1px solid rgba(255,255,255,.12);
}
.settings_icon {
  font-size: 20px;
  vertical-align: middle;
}
.select_setting {
  width: 100%;
}


