<div class='havent_quest {{selectedTheme}}'  *ngIf="loadingFlag; else postData">
    <div class="container">
      <div class="dash uno"></div>
      <div class="dash dos"></div>
      <div class="dash tres"></div>
      <div class="dash cuatro"></div>
    </div>
</div>
<ng-template #postData>
  <mat-drawer-container class="example-container {{selectedTheme}}" autosize hasBackdrop="true">
    <mat-drawer #drawer class="sidenav" mode="over">
      <div class="filters_container">
        <mat-form-field class="select_field">
          <mat-label>Questions</mat-label>
          <mat-select [formControl]="authorFilt" multiple>
            <mat-select-trigger>
              {{authorFilt.value ? authorFilt.value[0] : ''}}
            </mat-select-trigger>
            <mat-option (click)="addFilterArr()" *ngFor="let filter of authorFilterArr" [value]="filter">{{filter}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="select_field" *ngIf="this.authService.isAdminOnline">
          <mat-label>Admin</mat-label>
          <mat-select [formControl]="adminFilter" multiple>
            <mat-select-trigger>
              {{adminFilter.value ? adminFilter.value[0] : ''}}
            </mat-select-trigger>
            <mat-option (click)="addFilterArr()" *ngFor="let filter of admFilter" [value]="filter">{{filter}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="select_field" >
          <mat-label>Comments</mat-label>
          <mat-select [formControl]="filters" multiple>
            <mat-select-trigger>
              {{filters.value ? filters.value[0] : ''}}
              <span *ngIf="filters.value?.length > 1" class="example-additional-selection">
        (+{{filters.value.length - 1}})
      </span>
            </mat-select-trigger>
            <mat-option (click)="addFilterArr()" *ngFor="let filter of commentFilter" [value]="filter">{{filter}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="select_field" >
          <mat-label>Directions</mat-label>
          <mat-select [formControl]="direct" multiple>
            <mat-select-trigger>
              {{direct.value ? direct.value[0] : ''}}
              <span *ngIf="direct.value?.length > 1" class="example-additional-selection">
        (+{{direct.value.length - 1}})
      </span>
            </mat-select-trigger>
            <mat-option (click)="addFilterArr()" *ngFor="let direct of direction" [value]="direct">{{direct}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field  class="select_field" >
          <mat-label>Time</mat-label>
          <mat-select [(value)]="timeSelect">
            <mat-option>All Time</mat-option>
            <mat-option value="{{time}}" *ngFor="let time of timeFilter">{{time}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-drawer>
  <div class=" wrapper2 {{selectedTheme}}">
    <div class="wrapper-toolbar " >
      <mat-toolbar-row class="mat-tool">
        <button type="button" mat-button color="accent" (click)="drawer.toggle()"> Show filters </button>
        <button (click)="sort()" mat-stroked-button color="accent" >Sort <mat-icon class="arrow">{{this.arrowUpAndDown}}</mat-icon></button>
        <button mat-button class="setting_menu" id="setting_menu" [matMenuTriggerFor]="menu" color="accent">Settings<mat-icon class="settings_icon">settings</mat-icon></button>
      </mat-toolbar-row>
    </div>
    <div class="mat-grid-cont " >
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-form-field  class="select_setting" >
            <mat-label>Display</mat-label>
            <mat-select [(value)]="displaySelect" >
              <mat-option value="Line" (click)="reverseDisplay()">Line display</mat-option>
              <mat-option value="Tiled" (click)="reverseDisplay()">Tiled display</mat-option>
            </mat-select>
          </mat-form-field>
        </button>
        <button mat-menu-item>
          <mat-form-field  class="select_setting" >
            <mat-label>Theme</mat-label>
            <mat-select [(value)]="selectedTheme" >
              <mat-option value="white" (click)="selectedThemeItem()">White</mat-option>
              <mat-option value="azure" (click)="selectedThemeItem()">Azure</mat-option>
              <mat-option value="green" (click)="selectedThemeItem()">Green</mat-option>
            </mat-select>
          </mat-form-field>
        </button>
      </mat-menu>
      <mat-grid-list  cols="{{isDisplayTiled ? 3 : 1}}" rowHeight="{{isDisplayTiled ? 180 : 80}}px" >
        <div class="wrapper-empty" >
          <p *ngIf="!posts.length" class="emptyPostsArray" > The list of questions is empty</p>
        </div>
        <mat-grid-tile  *ngFor="let post of posts | sortingPipe: isDes
                                                 | filterPipe: commentFiltersValue: direFiltersValue: timeSelect: adminFiltersValue: authorFilterValue" >
          <mat-card (click)="getId(post)"
                    [ngClass]="{
                    card_liner : !isDisplayTiled,
                    card : isDisplayTiled
                    }">
            <div class="done" *ngIf="post.complete">
              <div >
                <mat-icon>done</mat-icon>
              </div>
            </div>
            <div class="done" *ngIf="!post.adminApprove">
                <p class="moderation">Moderation</p>
            </div>
            <mat-card-header class="mat-card-header">
              <mat-card-title><p class="title">{{post.title}}</p></mat-card-title>
            </mat-card-header>
            <mat-card-content class="mat-card-content" [ngClass]="{liner : !isDisplayTiled}">
              <div class="date">
                <p>
                  {{post.date | date:'short'}}
                </p>
              </div>
              <div class="directions" >
                <p class="directions-items" *ngFor="let dir of post.direct">{{dir}}</p>
              </div>
            </mat-card-content>
            <div class="btn-container">
              <mat-card-actions class="mat-card-btn lin" *ngIf="author === post.author; else adminButton">
                <div>
                  <button mat-button *ngIf="!post.adminApprove" class="btn-card" (click)="edit(post, $event)" >EDIT</button>
                  <button mat-button class="btn-card" (click)="openDialog(post.id, $event)">DELETE</button>
                </div>
              </mat-card-actions>
              <ng-template #adminButton>
                <ng-container *ngIf="this.authService.isAdminOnline ; else userButton">
                  <div>
                    <button mat-button *ngIf="!post.adminApprove" class="btn-card" (click)="approve(post, $event)" >APPROVE</button>
                    <button mat-button class="btn-card" (click)="openDialog(post.id, $event)">DELETE</button>
                  </div>
                </ng-container>
              </ng-template>
              <ng-template #userButton>
                <div class="button_emet"></div>
              </ng-template>
            </div>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>

  </div>
  </mat-drawer-container>
</ng-template>
<button class="circleButtonAsk"
        color="accent"
        mat-raised-button
        routerLink="/ask"><mat-icon>add</mat-icon></button>


