<div class='havent_quest'*ngIf="this.loading === false; else questCard">
  <div class="container">
    <div class="dash uno"></div>
    <div class="dash dos"></div>
    <div class="dash tres"></div>
    <div class="dash cuatro"></div>
  </div>
</div>

<ng-template #questCard>
  <mat-card class="post-card">
    <mat-card-header class="header">
      <p class="sub">{{this.author}}</p>
      <p class="title">{{this.card.title}}</p>
      <p class="sub">{{this.card.date | date:'short'}}</p>
    </mat-card-header>
    <mat-card-content>
      <p class="main_text">
        {{this.card.text}}
      </p>
      <mat-card-subtitle class="directions">
        <p *ngFor="let dir of this.card.direct">{{dir}}</p>
      </mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>EDIT</button>
      <button mat-button (click)="remove(this.router.url.slice(1))">DELETE</button>
    </mat-card-actions>
  </mat-card>
</ng-template>


