<div class="wrapper">
  <div class="container">
    <mat-toolbar>
      <a routerLink="post" (click)="$event.stopPropagation()"><span>ChatHelp</span></a>
      <span class="example-spacer"></span>
      <div class="logIn-logOut-btn">
        <div class="authBtn" *ngIf="isAuthUser(); else log">
          <button  class="btn-log2"mat-raised-button color="accent">Add qestion</button>
          <a routerLink="user" class="user-int-wrapper">
            <div class="user-int-conteiner">
                <img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png">
            </div>
            <p class="userName">{{this.authSeervice.email}}</p>
          </a>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu>
            <button mat-menu-item>
              <button (click)="logout($event)" class="btn-log1" mat-raised-button color="primary">Logout</button>
            </button>
          </mat-menu>
        </div>
        <ng-template #log>
          <button routerLink="login" class="btn-log btn-log1" mat-raised-button color="primary" >Login</button>
          <button routerLink="sign-up" class="btn-log1"mat-raised-button color="primary">Sign Up</button>
        </ng-template>
      </div>
    </mat-toolbar>
  </div>
</div>

<router-outlet></router-outlet>
