@mainColor: #c2185b;
.example-spacer {
  flex: 1 1 auto;
}

.btn-log1 {
  padding: 3px 7px;
  margin-right: 20px;
}
.btn-log2 {
  margin-right: 25px;
  padding: 3px 7px;
}
mat-toolbar {
  a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s ese-in-out;
  }
  a:hover {
    color: @mainColor ;
  }
}
