@import "src/styles" ;

p {
  margin: 0;
}
.form {
}
button {
  outline: none;
}
.validation {
  color: red;
}
.checkbox {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.post-card {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.form {
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px ;
}
.textaria-form {
  width: 100%;
  height: 20%;
}

.textaria-fild {
  width: 100%;
  textarea {
    min-height: 73px;
    width: 100%;
  }
}
.user-int-container {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 30%;
    height: 30%;
  }
}
mat-card-content {
  width: 100%;
}
.comment-card {
  position: relative;
  width: 100%;
  min-height: 100px;
  display: grid;
  grid-gap: 5px;
  border: 1px solid ;
  border-radius: 10px;
  grid-template-rows: 0.5fr 1fr;
  grid-template-columns: 50% 50%;
  grid-template-areas: 'author checkbox'
                       'text text'  ;
}
.author-and-date {
  grid-area: author;
}
.text {
  grid-area: text;
}
.checkbox {
  grid-area: checkbox;
}
.user-int-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  :hover {
    cursor: pointer;
  }
}
.author-and-date {
  padding-top: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  a:hover {
    color: #c2185b;
  }
}
.name {
  p {
    margin: 0;
    text-decoration: none;
    color: #fff;
  }
  p:hover {
      color: #c2185b;
  }
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.text-item {
  border-top: 1px solid rgba(255, 255, 255, .4);
  padding-top: 10px;
  margin: 0;
  width: 90%;
  padding-bottom: 5px;
}

.correct {
  border: 1px solid green;
}
.done_icon {
  position: absolute;
  top: 3%;
  left: 2%;
  display: block;
  mat-icon {
    color: green;
  }
}
.hidden {
  display: none;
}
.userName {
  text-overflow: ellipsis;
  overflow:hidden;
  white-space: nowrap;
  text-align: center;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #c2185b;
  font-size: 16px;
  font-weight: bold;
}
.commentLoading {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #c2185b;
  font-size: 16px;
  font-weight: bold;
}
@media  screen and (max-width : 534px) {
  .userName {
    width: 100px;
  }
}
@media  screen and (max-width : 396px) {
  .userName {
    width: 40px;
  }
}

