<mat-card class="post-card" *ngIf="this.isLoaded === true; else comment">
    <form class="form" [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field class="textaria-fild">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput formControlName="text" ></textarea>
      </mat-form-field>
      <button mat-raised-button
              type="submit"
              color="accent"
              [disabled]="!this.form.value.text || submitted"
      >SEND</button>
    </form>
  <mat-card-content *ngFor="let answer of answers">
      <div class="comment-card" [ngClass]="{correct: answer.correct}" >
        <div class="author-and-date">
          <a class="user-int-wrapper">
            <div class="user-int-container">
              <img alt="img" src="https://static.thenounproject.com/png/19085-200.png">
            </div>
            <div class="name">
              <p class="userName">{{answer.author}}</p>
            </div>
          </a>
          <p class="date">{{answer.date | date:'short' }}</p>
        </div>
        <div class="text">
          <p class="text-item">{{answer.text}}</p>
        </div>
        <div class="checkbox"   *ngIf="this.authorOnline === card.author && isCorrect === false">
          <mat-checkbox
            class="example-margin"
            (click)="changeFlag(answer)"
          >Correct</mat-checkbox>
        </div>
      </div>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
<ng-template #comment>
  <div class="commentLoading">
    <p>Comments...</p>
  </div>
</ng-template>
